body {
background-color: white; color: black;
font-family: Times New Roman;
}

h1 {
color: red;
font-size: 50px; text-align: center;
}

p {font-size: 12px;
}

h2 {
    color: blue; font-size: 30px;
}
h3{color:green;
}

img { width: 150px;
 height: 100px;
}